* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Courier New', Courier, monospace;
}

main {
  width: 100vw;
  height: 100vh;
  background: rgb(236, 236, 236);
  display: flex;
  justify-content: center;
  align-items: center;
}

#Box {
  width: 30vw;
  min-width: 320px;
  height: 55vh;
  background: rgba(222, 222, 222, 0.85);
  border-radius: 12px;
  padding: 1.7rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}

#Box form {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5vh;
}

#Box form div {
  display: flex;
  flex-direction: column;
  gap: 0.1rem;
}

#Box label {
  font-size: 1.3rem;
  font-weight: 600;
}

#Box input {
  padding: 0.6rem;
  border-radius: 6px;
  border: 1px solid #aaa;
  outline: none;
}

button{
    padding: 2vh 8vw;
    background: #9a9a9a;
    border: none;
    border-radius: 5%;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}
#shortedUrls{
    font-size: 18px;
    font-weight: bold;
}